@import 'variable.scss';
// Google font import link
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
// branding

.text-teal{
    color: teal;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.text-light{
    font-weight: lighter;
}
a{
    background-color: white;
    text-decoration: none;
    color: rgb(80, 79, 79);
}
.bg-white{
    background-color: white;
}
a:hover{
    color: teal;
    transition: all 0.5s ease-in-out;
}
@mixin center-div{
    display: flex;
    justify-content: center;
}
.center-element{
    @include center-div;
    color: teal;
}
@mixin button{
    color: teal;
    font-weight: 600;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

@mixin button-hover{
    font-weight: bold;
    transition: all 0.5s;
    background-color: teal;
    color: white;
}
.btn-holder{
    text-align: center;
}
.btn{
    @include button();
    margin: 2rem 0rem;
}
.btn:hover{
    @include button-hover();
}
@mixin simple-button{
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: #f0f4f5;
    font-weight: 400;
    cursor: pointer;
}
@mixin simple-button-hover{
    background-color: teal;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
button[type="button"]{
    @include simple-button();
}
button[type="button"]:focus{
    background-color: teal;
    color: white;
}
button[type="button"]:hover{
    @include simple-button-hover();
}

.page-button{
@include button;
}
.page-button:hover{
@include button-hover();
}
// styling the page started
.navbar{
    margin: 0rem 10rem;
    display: flex;
  
}
.navbar .logo-holder .icon-holder{
    display: none;
}
.navbar .logo-holder a img{
    width: 130px;
    padding: 3px 0px;
}
.navbar .nav-items{
    padding-top: 10px;
}
.navbar .nav-items .nav-link{
    display: inline;
    margin: 0rem 1rem;
}
.navbar .nav-items .sub-menu{
    display: none;
}
.main-page-container{
   background-image: url("../images/bg_image.jpg");
   width: 100%;
   height: 500px;
   background-position: center;
   background-size: cover;
   background-blend-mode: darken;
   background-repeat: no-repeat;
   position: relative;
}
body{
    position: relative;
}
.homepage{
    background-image: url("../images/hompage.jpg");
    border: 1px solid white;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%) blur(1.5px);
}
.main-heading{
    position: absolute;
    top: 7%;
    bottom: 93%;
    left: 20%;
    right: 20%;
    text-align: center;
    color: white;
    filter: drop-shadow(0 0 10px gray);
    
}
.main-heading .title{
    text-transform: capitalize;
    font-size: 3.5vw;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}
.main-heading .description{
    font-size: 1vw;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    
}


.apply-animation-left{
    animation: slideLeft 1.5s ease-in-out 1;
}

.nav-items .nav-link:hover{
    color: teal;
    font-weight: 700;
    transition: all 0.5s;
}
@keyframes zoomIn {
    from{
        transform: translateZ(300px);
        opacity: 0;
    } to{
        transform: translateZ(0px);
        opacity: 1;
    }
}
.zoom-animation{
    animation: zoomIn 1.5s ease-in-out 1;
}
// animation
@keyframes slideLeft{
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideRight{
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideUp{
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideDown{
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to {
        transform: translateX(300px);
        opacity: 1;
    }
}
.slide-up-animation{
    animation: slideUp 1.5s ease-in-out 1;
}
.slide-left-animation{.contact-us{
    margin-bottom: 3rem;
}
    animation: slideLeft 1.5s ease-in-out 1;
}
.slide-right-animation{
    animation: slideRight 1.5s ease-in-out 1;
}
.classifications{
    border-bottom: 1px solid $gray;
    text-align: center;
    width: fit-content;
    padding: 10px ;
}
.classifications .menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-weight: 600;
    display: inline;
    color: gray;
}
.classifications .menu .menu-item{
    display: inline;
    cursor: pointer;
    padding-bottom: 9px;
    margin: 0rem 0.5rem;
}

.card-section:hover a{
    color: rgb(44, 56, 59);
}
.card{
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: white;
}
.card .card-body{
    width: 100%;
    height: 200px;
    padding: 0px;
    overflow: hidden;
}
.card .card-body img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.card .card-body img:hover{
    filter: brightness(75%);
    transition: filter 200ms ease;
}
.card .card-footer{
    padding: 8px 0px;
    background-color: white;
}
.card-footer .title{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    display: block;
    background-color: inherit;
    width: 100%;
}
.card-footer .title .price{
    font-weight: bold;
    float: inline-end;
}
.card-footer .sub-title{
    font-size: small;
    font-weight: lighter;
    display: block;
    margin-bottom: 5px;
    background-color: inherit;
}
.card-footer .description{
    font-size: smaller;
    background-color: inherit;
}
.card .badge{
    background-color: teal;
    color: white;
    font-weight: 700;
    border: 1px solid teal;

    border-radius: 2px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    top: 2%;
    left: 2%;
}

// section hading
.section-holder .heading-content{
    margin: 0rem auto;
    text-align: center;
}
.section-holder .heading-content .title{
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 0px;
}
.section-holder .heading-content .subtitle{
    font-size: medium;
    padding: 0px;
}
.newsletter{
    border: 1px solid $gray;
    margin: 5%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f0f4f5;
}
.newsletter .header{
    text-align: center;
    margin-bottom: 1rem;
}
.newsletter .header .icon{
    font-size: 50px;
    background: linear-gradient(to right, #ED008C,#FFF000);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.newsletter .header .title{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, #ED008C,#FFF000);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.newsletter .header .subtitle{
    font-size: medium;
    padding: 0px;
    margin: 0px;
    color: gray;
}
.newsletter .news-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.news-container form{
    width: 70%;
}
.news-container form p{
    padding: 0px;
    margin: 0px;
    font-size: medium;
    text-align: center;
    color: gray;
}
.news-container p{
    font-size: small;
}
.form-input{
    outline: none;
    border: 1px solid gray;
    border-right: none;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #f0f4f5;
    padding: 0px 10px;
    width: 90%;
    height: 40px;
    display: inline;
    margin-bottom: 1rem;
}
.form-input:focus{
    border: 1px solid teal;
}
.get-started-btn{
    margin: 20px 0px;
    padding: 0.5rem 1rem;
    background-color: rgb(255,255,255,0.3);
    border: 1px solid rgb(255,255,255,0.3);
    color: white;
    border-radius: 50px;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
}
.get-started-btn:hover{
    color: rgb(79, 238, 238);
    font-weight: bold;
}
.custom-btn{
    padding: 12px 15px;
    display: inline;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #ED008C,#FFF000);
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 110;
    
}
.input-holder{
    position: relative;
}
.footer-content{
    border-top: 1px solid $gray;
    padding: 1rem 10rem;
}

.footer-content .branding h2{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.footer-content .branding span{
    font-size: small;
    padding: 0px;
    margin: 0px;
}
.footer-content .center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.get-intouch{
    border: 1px solid $gray;
}
.section-holder .location-holder{
    border: 1px solid $gray;
    border-radius: 5px;
}
.section-holder .location-holder iframe{
    border: none;
    width: 100%;
    height: 100%;

}
.section-holder .contact-info{
    margin: 2rem 0rem;
}
.section-holder .location-holder{
    margin: 2rem 0rem;
}
.section-holder .contact-info .contact{
    margin: 1rem;
}
.section-holder .contact-info{
    padding: 1rem;
}
.section-holder .contact-info .contact .icon{
    font-size: 20px;
    margin: 0rem 0.5rem;
    color: teal;
}
.section-holder .contact-info .contact .title{
    font-size: large;
    font-weight: 600;
    color: gray;
}
.section-holder .contact-info .contact .subtitle{
    padding: 0rem 2rem 0.5rem 2.5rem;
    color: gray;
    display: block;
    border-bottom: 1px solid $gray;
    width: fit-content;
}
.section-holder .contact-info .contact p{
    font-size: large;
    font-weight: 200;
}
.section-holder .contact-info .contact a{
    margin: 1rem;
    font-size: 20px;
}
.facebook{
    color: 	#4267B2;
}
.linkedin{
    color: #0077B5;
}
.instagram{
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.telegram{
    color: #0088CC;
}
.whatsapp{
    color: green;
}
.twitter{
    color: black;
}

.section-holder .item-holder .list-item{
    overflow: hidden;
}
.section-holder .item-holder .list-item a img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
}
.section-holder .item-holder .list-item a img:hover{
    filter: brightness(100%);
    transition: filter 200ms ease;
}
.section-holder .item-holder .list-item {
    position: relative;
}
.section-holder .item-holder .list-item a .location-name{
    position: absolute;
    top: 70%;
    left: 5%;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.section-holder .item-holder{
    display: grid;
    grid-gap: 24px;
    justify-content: center;
    align-items: center;
}
// device implementation desing

@media only screen and (min-width: $sm)  {
    .section-holder{
        margin: 3rem 2rem;
    }
    .section-holder .item-holder{
        grid-template-columns: repeat(2,48%);
    }
    .user-manual .section-holder .grid-system{
        grid-template-columns: repeat(1,96%);
    }
    .user-manual{
        height: 800px;
    }
    .restautant .restaurant-holder{
        grid-template-columns: repeat(3,32%);
    }
    .two-col-grid{
        grid-template-columns: repeat(1,98%);
    }
    .main-page-container{
        filter: opacity(50%);
    }
   
 
}
@media only screen and (min-width: $md){
    .section-holder{
        margin: 3rem 2rem;
    }
    .section-holder .item-holder{
        grid-template-columns: repeat(2,48%);
    }
    .user-manual .section-holder .grid-system{
        grid-template-columns: repeat(1,96%);
    }
    .user-manual{
        height: 800px;
    }
    .restautant .restaurant-holder{
        grid-template-columns: repeat(4,23%);
    }
    .two-col-grid{
        grid-template-columns: repeat(1,98%);
    }
    .main-page-container{
        filter: opacity(70%);
    }
    
}
@media only screen and (min-width: $xl)  {
    .section-holder{
        margin: 4rem 10rem;
    } 
    .section-holder .item-holder{ 
        grid-template-columns: repeat(4,23.5%);
    }
    .user-manual .section-holder .grid-system{
        grid-template-columns: repeat(3,30%);
    }
    .user-manual{
        height: 400px;
    }
    .restautant .restaurant-holder{
        grid-template-columns: repeat(6,15%);
    }
    .two-col-grid{
        grid-template-columns: repeat(2,48%);
    }
    .main-page-container{
        filter: opacity(100%);
    }
    
}
@media only screen and (min-width: $lg){
    .section-holder{
        margin: 4rem 10rem;
    }
    .section-holder .item-holder{
        grid-template-columns: repeat(4,23.5%);
        
    }
    .user-manual .section-holder .grid-system{
        grid-template-columns: repeat(3,30%);
    }
    .user-manual{
        height: 400px;
    }
    .restautant .restaurant-holder{
        grid-template-columns: repeat(6,15%);
    }
    .two-col-grid{
        grid-template-columns: repeat(2,48%);
    }
    .main-page-container{
        filter: opacity(100%);
    }
    
    
}
.section-holder .tab-holder{
    display: flex;
    flex-direction: row;
}
.two-col-grid{
    display: grid;
    margin: 3rem 0rem;
}
.section-holder .tab-holder .more-location{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: medium;
    vertical-align: middle;
}
.section-holder .tab-holder .more-location a:hover .chevron-icon{
    margin-left: 10px;
    transition: margin-left 0.2s;
}
.user-manual{
    background-color: teal;
    color: white;
    padding: 1rem;
    font-weight: 500;
    width: 100%;
    overflow: hidden;

}
.user-manual .section-holder .grid-system{
    display: grid;
    grid-gap: 24px;
    margin: auto;
    text-align: start;
    
}
.user-manual .section-holder .grid-system .steps{
    padding: 2rem 1rem;
    border-radius: 5px;
    border: 1px solid teal;
    background-color: teal;
    cursor:default;
}
.user-manual .section-holder .grid-system .steps:hover{
    border: 1px solid rgb(0, 155, 155);
    transition: all 400ms ease;

}
.user-manual .section-holder .grid-system .steps .title{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2rem;
}
.user-manual .section-holder .grid-system .steps .description{
    font-size: medium;
}
.user-manual .section-holder .grid-system .steps .icon-design{
    padding: 0px;
    margin: 0px;
}
.restautant{
    background-color: #f0f4f5;
    padding: 3rem;
    
}
.restautant .restaurant-holder{
    display: grid;
    grid-gap: 24px;
}
.restautant .section-holder .restaurant-holder .sub-card{
    background-color: #e6eced;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    color: rgb(1, 88, 88);
}
.restautant .section-holder .restaurant-holder .sub-card:hover{
    background-color: #dbe0e0;
    transition: background-color 200ms ease;
}
.restautant .section-holder .restaurant-holder .sub-card .title{
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
.restautant .section-holder .heading-content{
    margin-bottom: 3rem;
}
.restautant .section-holder .heading-content .title{
    font-size: 48px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}
.restautant .section-holder .heading-content .subtitle{
    font-size: medium;
    padding: 0px;
    margin: 0px;
}
// meal styling
.not-active{
    visibility: hidden;}
.active{
    visibility: visible;
}
.rotate-element{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.select-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.select-element .select-options ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: small;   
    border: 1px solid $gray;
    
}
.select-element .select-options ul li{
    font-size: small;
    padding: 10px; 
}
// custom select styling
.select-element .select-title{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    overflow: hidden;
    background-color: $gray;
    cursor: pointer;
}
.select-element .select-title .title{
    padding: 0xp;
    margin: 0px;
    color: gray;
    font-size: small;
    font-weight: 500;
}
.select-element .select-title .select-amenity{
    font-size: medium;
    color: rgb(36, 35, 35);
    font-weight: 500;  
}
.select-element .select-title .select-amenity .icon-chevron{
    margin-left: 16px;
}
// location styling
.location-container{
    background-color: #f0f4f5;
    padding: 2rem;
    border: 1px solid #f0f4f5;
}
.light-heading{
    font-weight: lighter;
}
// order page styling
.food-holder{
    padding: 1.5rem;
}
.food-holder .image-holder img{
    width: 100%;
    height: 300px;
    transition: transform 0.5s;
    object-fit: cover;
    cursor: pointer;
}
.food-holder .image-holder img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);    
}
.description .restaurant-names{
    list-style-type: none;
    margin: 1rem 0rem;
    padding: 0px;
}
.description .restaurant-name, .list-item{
    display: inline;
    padding: 0xp;
    margin: 0px;
}
.description .combinations{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.description .combinations, .list-item{
    display: inline;
    padding: 0xp;
    margin: 0px;
}
.description .combinations, .list-item a{
    margin-right: 8px;
}
.description .timing{
    color: gray;
}
.remeber-me{
    color: orange;
}
.tooltip{
    position: relative;
}
.tooltip .tooltip-text{
    visibility: hidden;
    background-color: #2f3233;
    color: white;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -70%;
    left: 135%;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltip-text::after{
    content: "";
    position: absolute;
    top: 36%;
    left: -6%;
    border-color:  transparent #2f3233 transparent transparent;
    border-width: 5px;
    border-style: solid;

}
// order form styling
.input-text{
    border: 1px solid $gray;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
textarea{
    border: 1px solid $gray;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.input-text:focus,textarea:focus,.quantity:focus{
    outline: none;
    border: 2px solid teal;
}
.input-checkbox{
    accent-color: teal;
    width: 1rem;
    height: 1rem;
}
.order-form{
    padding: 0rem 1.5rem;
}
.quantity{
    display: block;
    border: 1px solid $gray;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;

}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

button[type='submit']{
    border: 1px solid $gray;
    padding: 10px;
    transition: all 0.3s;
}
button[type='submit']:hover{
    border: 1px solid rgb(118, 194, 194);
    color: teal;
    font-weight: bold;
}
button[type='reset']{
    border: 1px solid $gray;
    padding: 10px;
    transition: all 0.3s;
}
button[type='reset']:hover{
    border: 1px solid rgb(247, 135, 6);
    color: rgb(247, 135, 6);
    font-weight: bold;
}
.button-holder{
    margin: 0.5rem 0rem;
}

.appreciation{
    margin-top: 4rem;
    padding: 1rem;
}
.summary{
    background-color: $gray;
    padding: 1rem 2rem;
    border-radius: 5px;
    position: relative;
}
.summary .pin-label{
    padding: 1rem 0.5rem;
    background-image: linear-gradient(red,rgb(0,0,0,0.8));
    border: 1px solid $gray;
    font-weight: 600;
    position: absolute;
    color:white;
    top: 0;
    left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.summary .tab-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1rem 0rem;
    border-bottom:2px dashed lightgrey ;
    
}
.summary .title{
    font-weight: bold;
    padding: 1.5rem 0rem;
    border-bottom: 2px solid lightgray;
}

.summary .tab-info .border-right{
    border-right: 2px solid rgb(179, 179, 179);
}
.summary .tab-info .info-holder{
    padding: 0rem 1rem 0rem 1rem;
    width: 30%;
}
.summary .tab-info .info-holder p{
    text-transform: capitalize;
    padding: 5px 0px;
    margin: 0px;
    font-weight: bold;
    color: gray;
}
.summary .tab-info .info-holder span{
    font-weight: bold;
    font-size: 14px;
}
.table-holder{
    margin: 1rem 0rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1rem;
    
}
.table-holder .list-contianer{
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}
.table-holder .list-contianer .image{
    width: 15%;
    height: 70px;
    padding: 0px 1rem;
}
.table-holder .list-contianer .text{
    width: 60%;
    font-weight: 500;
}
.table-holder .list-contianer .text h4{
    padding: 0px;
    margin: 0px;
}
.table-holder .list-contianer .text .sub-text{
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 12px;
    font-weight: 600;
}
.table-holder .list-contianer .price{
    width: 20%;
    text-align: right;
    padding: auto 0px;
    
}
.payment-info{
    color: gray;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}
.payment-info .listing{
    padding: 5px 0px;
}
.payment-info .listing .float-right{
    float: right;
}
.order-total{
    padding: 1rem 0rem;
    font-weight: bold;
}
.order-total .float-right{
    float: right;
}
.ordered-food{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: inline;
}
// appreciation style
.appreciation .title{
    font-size: 52px;
    font-weight: lighter;
    text-transform: capitalize;
    i{
        color: orange;
    }
}
.appreciation .description{
    font-size: medium;
    font-weight: lighter;
}
.appreciation .billing-address table{
    width: 100%;
    margin: 2rem 0rem;
}
.appreciation .billing-address table tr td{
    padding: 5px 0px;
}
.font-bold{
    font-weight: bold;
}
.track-order button{
    outline: none;
    background-color: $gray;
    padding: 0.5rem 1rem;
    border: 1px solid $gray;
    transition: all 0.3s;
}
.track-order button:hover{
    font-weight: 600;

}