@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F7F6F3;
}

body {
  margin: 0;
  padding: 0;
}

.center-element {
  display: flex;
  justify-content: center;
  color: teal;
}

.page-button {
  color: teal;
  font-weight: 600;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.page-button:hover {
  font-weight: bold;
  transition: all 0.5s;
  background-color: teal;
  color: white;
}

.container {
  margin: 0 12.5%;
}

.heading-content {
  margin: 15% 0;
  width: 60%;
  height: 20%;
}
.heading-content .heading-text {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.heading-content .brand-name {
  color: teal;
}
.heading-content .heading-sub-text {
  margin: 0;
  padding: 0;
}
.heading-content button {
  margin: 1rem 0;
}

.apply-animation-left {
  animation: slideLeft 1.5s ease-in-out 1;
}

.navbar {
  margin: 0 15rem;
}

.navbar .logo-holder {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: teal;
}

.nav-items, .nav-link {
  display: inline-block;
}

.nav-items .nav-link {
  margin: 0 2rem;
  cursor: pointer;
}

.nav-items .nav-link:hover {
  color: teal;
  font-weight: 700;
  transition: all 0.5s;
}

@keyframes slideLeft {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateX(300px);
    opacity: 1;
  }
}
.slide-up-animation {
  animation: slideUp 1.5s ease-in-out 1;
}

.slide-left-animation {
  animation: slideLeft 1.5s ease-in-out 1;
}

.slide-right-animation {
  animation: slideRight 1.5s ease-in-out 1;
}

.card > * {
  background-color: white;
}

.card .card-footer > * {
  background-color: white;
}

.card .card-footer {
  padding: 10px;
}

.card-footer .title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
  color: #525151;
}

.card-footer .sub-title {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #808080;
}

.card-footer .description {
  font-size: 15px;
}

.description-section {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(196, 194, 194);
  padding: 2rem;
  margin-bottom: 1rem;
}
.description-section h1 {
  background-color: white;
  display: flex;
  justify-content: center;
  color: teal;
  margin-bottom: 0;
}
.description-section span {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: white;
}
.description-section .contact {
  background-color: white;
  width: 18rem;
  height: auto;
  margin: auto;
  border: 1px solid rgb(224, 224, 224);
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.description-section .contact-info {
  background-color: white;
  margin: 2rem 0;
}
.description-section .contact .title {
  font-weight: bold;
}
.description-section .contact .subtitle {
  font-weight: lighter;
}

@keyframes fadeIn {
  from {
    transform: translateZ(-300px);
    opacity: 0;
  }
  to {
    transform: translateZ(0px);
    opacity: 1;
  }
}
.card-section .card {
  position: relative;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px rgb(204, 204, 204);
  margin: 1rem;
  overflow: hidden;
  background-color: white;
}

.card-body > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15rem;
}

.card .badge {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 12px;
  background-color: #c0c0c0;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid rgb(94, 94, 94);
  text-transform: uppercase;
}

.sub-text h3 {
  margin-left: 1.5rem;
  color: #525151;
}

.footer {
  padding: 5rem;
  position: sticky;
  margin-top: 3rem;
  border-top: 1px solid rgb(235, 235, 235);
}

.footer .footer-content {
  display: inline-block;
  border: 1px solid gray;
}

.footer-content ul li {
  list-style: none;
  padding: 5px;
}

.location {
  background-color: white;
}

.location {
  padding: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(204, 204, 204);
}

.location-holder {
  display: inline;
  overflow: hidden;
}

.contact-us, form, .holder, label, input, textarea {
  background-color: white;
}

input, textarea {
  padding: 0.8rem;
  outline: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border: 1px solid teal;
  transition: all 0.5s ease-in-out;
}

.contact-us .contact-form {
  padding: 2rem 4rem;
}
.contact-us .contact-form label {
  display: block;
  margin-top: 1rem;
}
.contact-us .contact-form input {
  width: 21rem;
}
.contact-us .contact-form textarea {
  width: 100%;
}
.contact-us .contact-form button {
  color: teal;
  font-weight: 600;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 1rem;
}
.contact-us .contact-form button:hover {
  font-weight: bold;
  transition: all 0.5s;
  background-color: teal;
  color: white;
}
.contact-us .contact-form .form-title {
  font-weight: bold;
  color: teal;
  display: flex;
  justify-content: center;
  background-color: white;
}

.icon-design {
  border: 1px dotted teal;
  color: teal;
  padding: 5px;
  border-radius: 16px;
  margin: 2px;
  cursor: default;
}

@media only screen and (min-width: 640px) {
  .card-section {
    box-sizing: unset;
    display: block;
  }
  .card-section .card {
    width: 100%;
    height: 25%;
    padding-bottom: 0.5rem;
  }
  .location {
    -moz-column-count: 1;
         column-count: 1;
  }
  .contact-info {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media only screen and (min-width: 768px) {
  .card-section {
    box-sizing: unset;
    display: block;
  }
  .card-section .card {
    width: 100%;
    height: 25%;
    padding-bottom: 0.5rem;
  }
  .location {
    -moz-column-count: 1;
         column-count: 1;
  }
  .contact-info {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .card-section {
    box-sizing: border-box;
    display: flex;
  }
  .card-section .card {
    width: 100%;
    height: 25%;
    padding-bottom: 0.5rem;
  }
  .location {
    -moz-column-count: 2;
         column-count: 2;
  }
  .contact-info {
    -moz-column-count: 3;
         column-count: 3;
  }
}/*# sourceMappingURL=style.css.map */