@import 'variable.scss';
// Google font import link
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F7F6F3;
}
// branding
.text-teal{
    color: teal;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

a{
    background-color: white;
    text-decoration: none;
    color: rgb(80, 79, 79);
}
.bg-white{
    background-color: white;
}
a:hover{
    color: teal;
    transition: all 0.5s ease-in-out;
}
@mixin center-div{
    display: flex;
    justify-content: center;
}
.center-element{
    @include center-div;
    color: teal;
}
@mixin button{
    color: teal;
    font-weight: 600;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
@mixin button-hover{
    font-weight: bold;
    transition: all 0.5s;
    background-color: teal;
    color: white;
}
.btn-holder{
    text-align: center;
}
.btn{
    @include button();
    margin: 2rem 0rem;
}
.btn:hover{
    @include button-hover();
}
@mixin simple-button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(206, 206, 206);
    font-weight: 600;
    cursor: pointer;
}
@mixin simple-button-hover{
    background-color: teal;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
button[type="button"]{
    @include simple-button();
}
button[type="button"]:focus{
    background-color: teal;
    color: white;
}
button[type="button"]:hover{
    @include simple-button-hover();
}

.page-button{
@include button;
}
.page-button:hover{
@include button-hover();
}
.container{
    margin: 0 12.5%;
}
.home{
    max-height: 90vh;
    position: relative;
    img{
        z-index: -1;
    }
}
.heading-content{
    position: absolute;
    top: 5%;
    left: 10%;
    margin: 15% 0;
    width: 60%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
    .heading-text{
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    .brand-name{
        color: teal;
        background-color: transparent;
    }
    .heading-sub-text{

        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    button{
        margin: 1rem 0;
        background-color: transparent;
    }
    
}
.apply-animation-left{
    animation: slideLeft 1.5s ease-in-out 1;
}

.nav-items .nav-link:hover{
    color: teal;
    font-weight: 700;
    transition: all 0.5s;
}
// animation
@keyframes slideLeft{
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideRight{
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideUp{
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideDown{
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to {
        transform: translateX(300px);
        opacity: 1;
    }
}
.slide-up-animation{
    animation: slideUp 1.5s ease-in-out 1;
}
.slide-left-animation{
    animation: slideLeft 1.5s ease-in-out 1;
}
.slide-right-animation{
    animation: slideRight 1.5s ease-in-out 1;
}

.card > *{
    background-color: white;
}
.card .card-footer > *{
    background-color: white;
}

.card .card-footer{
    padding: 10px;
}
.card-footer .title{
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block;
    color:#525151;
}
.card-footer .sub-title{
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color:#808080;
}
.card-footer .description{
    font-size: 15px;
}
.card-section{
    position: relative;
}
.card-section .content-badge{
    position: absolute;
    left: 0%;
    top: -10%;
    z-index: 100;
    background-color: transparent;
    p{
        background-color: transparent;
        font-weight: bold;
    }
}

.section-holder{
    h1{
        background-color: white;
        @include center-div();
        color: teal;
        margin-bottom: 0;
    }
    span{
        @include center-div();
        font-weight: bold;
        background-color: white;
    }
    .contact{
        background-color: white;
        width: 18rem;
        height: auto;
        margin: auto;
        border: 1px solid rgb(224, 224, 224);
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .contact-info{
        background-color: white;
        margin: 2rem 0;
    }
    .contact .title{
        font-weight: bold;
    }
    .contact .subtitle{
        font-weight: lighter;
    }
}
@keyframes fadeIn {
    from {
        transform: translateZ(-300px);
        opacity: 0;
    }
    to {
        transform: translateZ(0px);
        opacity: 1;
    }
}
.card-section .card{
    position: relative;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px 5px 0 0;
    margin: 1rem;
    overflow: hidden;
    background-color: white;

}
.card-body > img{
    object-fit: cover;
    width: 100%;
    height: 15rem;
}
.card .badge{
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 12px;
    background-color: #c0c0c0;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid rgb(94, 94, 94);
    text-transform: uppercase;
}
.sub-text h3{
    margin-left: 1.5rem;
    color: #525151;

}
.footer{
    padding: 2rem 5rem;
    position: sticky;
    margin-top: 3rem;
    border-top: 1px solid rgb(235, 235, 235);
}
.footer-content{
    margin: 1rem 0;
}
.footer-content a{
    padding: 0.8rem;
    cursor: pointer;
    display: block;
}

.location{
    background-color: white;
}
.location{
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin: 1rem 0;
    
}
.location-holder{
    display: inline;
    overflow: hidden;
}
.contact-us,form,.holder,label,input,textarea{
    background-color: white;
}
input,textarea{
    padding: 0.8rem;
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;

}
input:focus,
textarea:focus{
    border: 1px solid teal;
    transition: all 0.5s ease-in-out;
}

.contact-us .contact-form{
    padding: 2rem 5rem;
    label{
        display: block;
        margin-top: 1rem;
    }
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    button{
        @include button();
        margin-top: 1rem;
    }
    button:hover{
        @include button-hover();
    }
    .form-title{
        font-weight: bold;
        color: teal;
        @include center-div();
        background-color: white;
    }
    

}
.icon-design{
    border: 1px dotted teal;
    color: teal;
    padding: 5px;
    border-radius: 16px;
    margin: 2px;
    cursor:default;
}
.active-block{
    display: block;
}
.active{
    display: inline-block;
}
.d-none{
    display: none;
}
// styling the screen
// for small screen mobile device
@media only screen and (min-width:$sm) {
    .navbar{
        margin: 0 2rem;
    }
    .navbar .logo-holder{
        padding: 0.8rem;
        color: teal;
    }
    .navbar .logo-holder .brand-logo a img{
        width: auto;
        height: 3rem;
        
    }
    .navbar .nav-item6{
        list-style: none;
        border: 1px solid rgb(207, 207, 207);
        padding: 0.8rem 0.5rem;
    }
    .navbar .nav-items .nav-link{
        padding: 0.8rem 0;
        cursor: pointer;
    }
    .navbar .logo-holder .icon-holder{
        padding: 5px;
        font-size: 20px;
        float: inline-end;
        cursor: pointer;
    }

    // navbar end
    .card-section{
        box-sizing: unset;
        display: block;
    }
    .card-section .card{
        width: 100%;
        height: 25%;
        padding-bottom: 0.5rem;
    }
    .location{
        column-count: 1;
    }
    .contact-info{
        column-count: 1;
    }
    .footer .footer-content{
        column-count: 2;
    }
    // sign in styling
    .sign-in-holder{
        width: 100%;
        height: auto;
        margin: auto;
        background-color: white;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;
        padding: 10px;
    }
}
@media only screen and (max-width:$sm) {
    .navbar{
        margin: 0 2rem;
    }

    .navbar .logo-holder{
        padding: 0.8rem;
        color: teal;
    }
    .navbar .logo-holder .brand-logo{
        font-size: 26px;
        font-weight: bold;
    }
    .navbar .nav-items{
        list-style-type: none;
        border: 1px solid rgb(207, 207, 207);
        padding: 0.8rem 0.5rem;
    }
    .navbar .nav-items .nav-link{
        padding: 0.8rem 0;
        cursor: pointer;
    }
    .navbar .logo-holder .icon-holder{
        padding: 5px;
        font-size: 20px;
        float: inline-end;
        cursor: pointer;
    }

    // navbar end
    .card-section{
        box-sizing: unset;
        display: block;
    }
    .card-section .card{
        width: 100%;
        height: 25%;
        padding-bottom: 0.5rem;
    }
    .location{
        column-count: 1;
    }
    .contact-info{
        column-count: 1;
    }
    .footer .footer-content{
        column-count: 2;
    }
    // sign in styling
    .sign-in-holder{
        width: 100%;
        height: auto;
        margin: auto;
        background-color: white;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;
        padding: 10px;
    }
}
@media only screen and (min-width:$md) {
    // navbar
    .navbar{
        margin: 0 2rem;
    }
    .navbar .logo-holder{
        padding: 0.8rem;
        color: teal;
        .brand-logo{
            font-size: 26px;
            font-weight: bold;
        }
    }
    .navbar .nav-items{
        list-style: none;
        padding: 0.8rem 0.5rem;
    }
    .navbar .nav-items .nav-link{
        padding: 0.8rem 0;
        cursor: pointer;
    }
    .navbar .logo-holder .icon-holder{
        padding: 5px;
        font-size: 20px;
        float: inline-end;
        cursor: pointer;
    }
    // navbar end
    .card-section{
        box-sizing: unset;
        display: block;
    }
    .card-section .card{
        width: 100%;
        height: 25%;
        padding-bottom: 0.5rem;
    }
    .location{
        column-count: 1;
    }
    .contact-info{
        column-count: 1;
    }
    .footer .footer-content{
        column-count: 2;
    }
    // sign in styling
    .sign-in-holder{
        width: 80%;
        height: auto;
        margin: 5rem auto;
        background-color: white;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;
        padding: 10px;
    }
}

@media only screen and (min-width:$lg) {
    .navbar{
        margin: 0rem 15rem;
        vertical-align: baseline;
        padding: 0px;
    }
    .navbar .logo-holder{
        display: inline-block;
    }
    .navbar .nav-items{
        position: relative;
        padding-top: 0px ;
        padding-bottom: 0px;
        vertical-align: baseline;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar .nav-items,.nav-link{
        display: inline-block;
    }
    .nav-items .nav-link{
        margin: 0 2rem;
        cursor: pointer;
    }
    .navbar .logo-holder .brand-logo a img{
        width: auto;
        height: 3rem;
        vertical-align: middle;
    }
    .navbar .logo-holder .icon-holder{
        display: none;
    }
    // sign in 
    .nav-items .sub-menu{
        position: absolute;
        top: 90%;
        right: -10%;
        display: none;
        width: 8rem;
        height: auto;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 16px #F7F6F3;
        border-radius: 5px;
        z-index: 100;
        li{
            padding: 0.5rem;
            cursor: pointer;
        }
        li:hover{
            a{
                background-color: #4fb9af;
                transition: background-color 0.3s ease-in-out;
                color: white;
                font-weight: 600;
            }
            background-color: #4fb9af;
            transition: background-color 0.3s ease-in-out;
            color: white;
            font-weight: 600;
        }
        
    }
    .card-section{
        box-sizing: border-box;
        display: flex;
    }
    .card-section .card{
        width: 100%;
        height: 25%;
        padding-bottom: 0.5rem;
    }
    .location{
        column-count: 2;
    }
    .contact-info{
        column-count: 3;
    }
    .footer .footer-content{
        column-count: 3;
    }
    // sign in styling
    .sign-in-holder{
        width: 38%;
        height: auto;
        margin: 5rem auto;
        background-color: white;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;
        padding: 10px;
        
    }
}
// @media only screen and (min-width:$xl) {
//     .navbar{
//         margin: 0 15rem;
//     }
//     .navbar .logo-holder{
//         display: inline-block;
//         font-size: 26px;
//         font-weight: bold;
//         color: teal;
//         padding: 1.5rem 0;
//     }
//     .navbar .nav-items{
//         border: none;
//         position: relative;
//     }
//     .navbar .nav-items,.nav-link{
//         display: inline-block;
       
//     }
//     .nav-items .nav-link{
//         margin: 0 2rem;
//         cursor: pointer;
//     }
//     // sub menu style
//     .nav-items .sub-menu{
//         width: 8rem;
//         height: auto;
//         box-shadow: 0 0 16px #775b06;
//         z-index: 100;
//         border: 1px solid red;
//         border-radius: 5px;
//         li{
//             padding: 0.5rem;
//             cursor: pointer;
//         }
//         li:hover{
//             a{
//                 background-color: #4fb9af;
//                 transition: background-color 0.3s ease-in-out;
//                 color: white;
//                 font-weight: 600;
//             }
//             background-color: #4fb9af;
//             transition: background-color 0.3s ease-in-out;
//             color: white;
//             font-weight: 600;
//         }
//         position: absolute;
//         top: 90%;
//         right: -10%;
//         display: none;
//     }
//     .navbar .logo-holder .icon-holder{
//         display: none;
//     }
//     .card-section{
//         box-sizing: border-box;
//         display: flex;
//     }
//     .card-section .card{
//         width: 100%;
//         height: 25%;
//         padding-bottom: 0.5rem;
//     }
//     .location{
//         column-count: 2;
//     }
//     .contact-info{
//         column-count: 3;
//     }
//     .footer .footer-content{
//         column-count: 3;
//     }
//     // sign in styling
//     .sign-in-holder{
//         width: 38%;
//         height: auto;
//         margin: 5rem auto;
//         background-color: white;
//         border: 1px solid rgb(233, 233, 233);
//         border-radius: 5px;
//         padding: 10px;
//     }

// }
.nav-items .sub-menu{
    list-style-type: none;
    padding: 0.25rem;
    display: inline-block;
    display: none;
    li{
        padding: 10px;
    }
    li:hover{
        a{
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }
}

.footer .branding{
    h2{
        color: teal;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    span{
        padding-bottom: 1rem;
        border-bottom: 5px dotted teal;
    }
}
@keyframes movingLine {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.section-holder{
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: auto;
    align-content: center;
    margin: 1rem 0;
    .heading-section{
        background-color: white;
        display: inline-block;
        display: flex;
        justify-content: center;
    }
}
.heading-section > * {
    background-color: white;
}
.section-holder .item-holder{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    button{
        margin: 0 0.125rem;
    }
}

.sign-in-holder .sign-in-heading{
    color: teal;
    text-align: center;
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;
    h1{
        background-color: white;
        padding: 0px;
        margin: 0px;
    }
    small{
        font-size: medium;
        font-weight: 500;
        color: rgb(50, 57, 82);
        background-color: inherit;
    }
}
.form-container{
    margin: 2rem 7rem;
}
.form-container .form-design{
    width: 100%;
    margin: auto;
    height: auto;
    position: relative;
    label{
        display: block;
        margin-top: 1rem;
    }
    input{
        width: 100%;
    }
    .eye-icon{
        position: absolute;
        bottom: 50%;
        right: 0;
        left: 100%;
        color: rgb(165, 165, 165);
        font-size: small;
        cursor: pointer;
    }
    .eye-icon:hover{
        color: teal;
        transition: all 0.3s ease-in-out;
    }
    
}
progress{
    height: 15px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
}
.red-progress::-webkit-progress-value{
    background: red;
}
.yellow-progress::-webkit-progress-value{
    background: rgb(255, 230, 0);
}
.green-progress::-webkit-progress-value{
    background: green;
}